div.album__images-container
    img.album__image(src=require('../../images/album/1.png'))
    img.album__image(src=require('../../images/album/2.png'))
    img.album__image(src=require('../../images/album/3.png'))
    img.album__image(src=require('../../images/album/4.png'))
    img.album__image(src=require('../../images/album/5.png'))
    img.album__image(src=require('../../images/album/6.png'))
    img.album__image(src=require('../../images/album/7.png'))
    img.album__image(src=require('../../images/album/8.png'))
    img.album__image(src=require('../../images/album/9.png'))
    img.album__image(src=require('../../images/album/10.png'))
    img.album__image(src=require('../../images/album/11.png'))
    img.album__image(src=require('../../images/album/12.png'))
    img.album__image(src=require('../../images/album/13.png'))
    img.album__image(src=require('../../images/album/14.png'))
    img.album__image(src=require('../../images/album/15.png'))
