article.articles.block-title-container
    button.articles__button.js-articles-button
        h2.articles__title.block-title.js-articles-title статьи
    span.articles__slash &nbsp;\&nbsp;
    button.articles__button.js-reviews-button
        h2.articles__title.block-title.block-title--inversion.js-reviews-title  рецензии
    ul.articles__list.gel-layout.js-infinity-content#materials-articles-list
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage1.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Джейк Джилленхол
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage2.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Фильм - заслуга режиссера или всей команды?
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage3.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight “Пианист” и “Список Шиндлера”
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage4.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Патрик Уилсон
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage5.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Саспенс Хичкока
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage1.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Джейк Джилленхол
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage2.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Фильм - заслуга режиссера или всей команды?
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage3.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight “Пианист” и “Список Шиндлера”
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage4.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Патрик Уилсон
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage5.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Саспенс Хичкока
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage1.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Джейк Джилленхол
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage2.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Фильм - заслуга режиссера или всей команды?
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage3.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight “Пианист” и “Список Шиндлера”
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage4.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Патрик Уилсон
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage5.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Саспенс Хичкока
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage1.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Джейк Джилленхол
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage2.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Фильм - заслуга режиссера или всей команды?
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage3.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight “Пианист” и “Список Шиндлера”
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage4.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Патрик Уилсон
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage5.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Саспенс Хичкока
