article.articles.block-title-container
    h2.articles__title.block-title Articles
    ul.articles__list.gel-layout
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage1.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Джейк Джилленхол
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage2.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Фильм - заслуга режиссера или всей команды?
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage3.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight “Пианист” и “Список Шиндлера”
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage4.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Патрик Уилсон
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage5.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Саспенс Хичкока
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage1.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Джейк Джилленхол
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage2.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Фильм - заслуга режиссера или всей команды?
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage3.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight “Пианист” и “Список Шиндлера”
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage4.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Патрик Уилсон
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage5.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Саспенс Хичкока
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage1.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Джейк Джилленхол
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage2.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Фильм - заслуга режиссера или всей команды?
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage3.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight “Пианист” и “Список Шиндлера”
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage4.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Патрик Уилсон
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage5.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Саспенс Хичкока
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage1.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Джейк Джилленхол
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage2.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Фильм - заслуга режиссера или всей команды?
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage3.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight “Пианист” и “Список Шиндлера”
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage4.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Патрик Уилсон
        li.articles__item.gel-layout__item.gel-2-10-xl
            a.card.articles__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/articles/articleImage5.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Саспенс Хичкока
