article.gallery-detailed.block-title-container
    h2.gallery-detailed__title.block-title Галерея
    h3.gallery-detailed__current
        div.gallery-detailed__current-content Режиссеры как фотографы
    ul.gallery-detailed__list.gel-layout
        li.gallery-detailed__item.gel-layout__item.gel-2-10-xl
            a.card.gallery-detailed__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/gallery-detailed/galleryDetailed1.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Стэнли Кубрик
        li.gallery-detailed__item.gel-layout__item.gel-2-10-xl
            a.card.gallery-detailed__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/gallery-detailed/galleryDetailed2.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Дэвид Линч
        li.gallery-detailed__item.gel-layout__item.gel-2-10-xl
            a.card.gallery-detailed__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/gallery-detailed/galleryDetailed3.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Вим Вендеро
        li.gallery-detailed__item.gel-layout__item.gel-2-10-xl
            a.card.gallery-detailed__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/gallery-detailed/galleryDetailed4.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Андрей Тарковский
        li.gallery-detailed__item.gel-layout__item.gel-2-10-xl
            a.card.gallery-detailed__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/gallery-detailed/galleryDetailed5.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Ларри Кларк
        li.gallery-detailed__item.gel-layout__item.gel-2-10-xl
            a.card.gallery-detailed__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/gallery-detailed/galleryDetailed1.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Стэнли Кубрик
        li.gallery-detailed__item.gel-layout__item.gel-2-10-xl
            a.card.gallery-detailed__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/gallery-detailed/galleryDetailed2.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Дэвид Линч
        li.gallery-detailed__item.gel-layout__item.gel-2-10-xl
            a.card.gallery-detailed__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/gallery-detailed/galleryDetailed3.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Вим Вендеро
        li.gallery-detailed__item.gel-layout__item.gel-2-10-xl
            a.card.gallery-detailed__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/gallery-detailed/galleryDetailed4.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Андрей Тарковский
