article.most-popular.block-title-container
    h2.most-popular__title.block-title most popular
    ul.most-popular__list.gel-layout
        li.most-popular__item.gel-layout__item.gel-2-10-xl
            a.card.most-popular__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/most-popular/most-popular-image1.png'))
                artilce.card__description
                    h3.card__title.card__title--dark Кинематограф и фотография
                    span.card__status \cтатьи
        li.most-popular__item.gel-layout__item.gel-2-10-xl
            a.card.most-popular__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/most-popular/most-popular-image2.png'))
                artilce.card__description
                    h3.card__title.card__title--dark Примитивы. Два вектора развития кино
                    span.card__status \cтатьи
        li.most-popular__item.gel-layout__item.gel-2-10-xl
            a.card.most-popular__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/most-popular/most-popular-image3.png'))
                artilce.card__description
                    h3.card__title.card__title--dark Конструктор красного цвета
                    span.card__status \cтатьи
        li.most-popular__item.gel-layout__item.gel-2-10-xl
            a.card.most-popular__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/most-popular/most-popular-image4.png'))
                artilce.card__description
                    h3.card__title.card__title--dark Саспенс Хичкока
                    span.card__status \cтатьи
        li.most-popular__item.gel-layout__item.gel-2-10-xl
            a.card.most-popular__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/most-popular/most-popular-image5.png'))
                artilce.card__description
                    h3.card__title.card__title--dark Какие бывают продюсеры?
                    span.card__status \cтатьи