article.most-popular.block-title-container
    h2.most-popular__title.block-title most popular
    ul.most-popular__list.gel-layout
        li.most-popular__item.gel-layout__item.gel-2-10-xl
            a.card.card--with-border.most-popular__card(href="#" title="Кинематограф и фотография")
                div.card__image-container
                    img.card__image(src=require('../../images/most-popular/most-popular-image1.png'))
                artilce.card__description
                    h3.card__title.card__title--dark
                        mark.card__highlight Кинематограф и фотография
                    span.card__status \cтатьи
        li.most-popular__item.gel-layout__item.gel-2-10-xl
            a.card.card--with-border.most-popular__card(href="#" title="Примитивы. Два вектора развития кино")
                div.card__image-container
                    img.card__image(src=require('../../images/most-popular/most-popular-image2.png'))
                artilce.card__description
                    h3.card__title.card__title--dark
                        mark.card__highlight Примитивы. Два вектора развития кино
                    span.card__status \cтатьи
        li.most-popular__item.gel-layout__item.gel-2-10-xl
            a.card.card--with-border.most-popular__card(href="#" title="Конструктор красного цвета")
                div.card__image-container
                    img.card__image(src=require('../../images/most-popular/most-popular-image3.png'))
                artilce.card__description
                    h3.card__title.card__title--dark
                        mark.card__highlight Конструктор красного цвета
                    span.card__status \cтатьи
        li.most-popular__item.gel-layout__item.gel-2-10-xl
            a.card.card--with-border.most-popular__card(href="#" title="Саспенс Хичкока")
                div.card__image-container
                    img.card__image(src=require('../../images/most-popular/most-popular-image4.png'))
                artilce.card__description
                    h3.card__title.card__title--dark
                        mark.card__highlight Саспенс Хичкока
                    span.card__status \cтатьи
        li.most-popular__item.gel-layout__item.gel-2-10-xl
            a.card.card--with-border.most-popular__card(href="#" title="Какие бывают продюсеры?")
                div.card__image-container
                    img.card__image(src=require('../../images/most-popular/most-popular-image5.png'))
                artilce.card__description
                    h3.card__title.card__title--dark
                        mark.card__highlight Какие бывают продюсеры?
                    span.card__status \cтатьи