div.navigate-container
    nav.navigate-container__navigate.navigate
        ul.navigate__list
            li.navigate__item.navigate__item--with-border-top.navigate__item--with-border-left
                div.navigate__figure-container
                    img.navigate__figure(src=require('../../images/figures/figure_1.svg'))
            li.navigate__item.navigate__item--with-border-top
                div.navigate__figure-container
                    img.navigate__figure(src=require('../../images/figures/figure_2.svg'))
            li.navigate__item.navigate__item--with-border-top
                div.navigate__figure-container
                    img.navigate__figure(src=require('../../images/figures/figure_3.svg'))
            li.navigate__item.navigate__item--with-border-top
                div.navigate__figure-container.navigate__figure-container--with-lines
                    img.navigate__figure.navigate__figure--form(src=require('../../images/figures/figure_4.svg'))
                div.navigate__search-form-container
                    form.navigate__search-form
                        div.navigate__search-form-input-container
                            input.navigate__search-form-input(type="text")
                        span.navigate__search-form-slash &nbsp; / &nbsp;
                        button.navigate__search-form-button(title="поиск")
                            mark.navigate__highlight поиск
            li.navigate__item.navigate__item--with-border-left
                div.navigate__figure-container
                    img.navigate__figure(src=require('../../images/figures/figure_5.svg'))
            li.navigate__item
                div.navigate__figure-container
                    img.navigate__figure.navigate__figure--circle(src=require('../../images/figures/figure_6.svg'))
                a.navigate__link.navigate__link--magazine(href="#" title="журнал")
                    mark.navigate__highlight
                        span.navigate__letter ж
                        span.navigate__letter у
                        span.navigate__letter р
                        span.navigate__letter н
                        span.navigate__letter а
                        span.navigate__letter л
                div.navigate__small-circle.navigate__small-circle--bottom-top
                div.navigate__small-circle.navigate__small-circle--bottom-middle
                div.navigate__small-circle.navigate__small-circle--bottom-bottom
                div.navigate__small-circle.navigate__small-circle--top.navigate__small-circle--top-top
                div.navigate__small-circle.navigate__small-circle--top.navigate__small-circle--top-middle
                div.navigate__small-circle.navigate__small-circle--top.navigate__small-circle--top-bottom
            li.navigate__item
                div.navigate__figure-container
                    img.navigate__figure(src=require('../../images/figures/figure_7.svg'))
            li.navigate__item
                div.navigate__figure-container
                    img.navigate__figure(src=require('../../images/figures/figure_8.svg'))
            li.navigate__item.navigate__item--with-border-left
                div.navigate__figure-container
                    img.navigate__figure.navigate__figure--gallery(src=require('../../images/figures/figure_9.svg'))
                    div.navigate__gallery-figure-circle
                div.navigate__gallery-figure-container
                    div.navigate__gallery-figure
                        div.navigate__gallery-figure-lines
                a.navigate__link.navigate__link--gallery(href="#" title="галлерея")
                    mark.navigate__highlight галерея
            li.navigate__item
                div.navigate__figure-container
                    img.navigate__figure(src=require('../../images/figures/figure_10.svg'))
            li.navigate__item
                div.navigate__figure-container
                    img.navigate__figure(src=require('../../images/figures/figure_11.svg'))
            li.navigate__item
                div.navigate__figure-container.navigate__figure-container--without-overflow
                    img.navigate__figure(src=require('../../images/figures/figure_12.svg'))
                    div.navigate__line-with-square-container
                        div.navigate__line-with-square
                a.navigate__link.navigate__link--contacts(href="#" title="контакты")
                    mark.navigate__highlight контакты
            li.navigate__item.navigate__item--with-border-left
                div.navigate__figure-container
                    img.navigate__figure(src=require('../../images/figures/figure_13.svg'))
            li.navigate__item
                div.navigate__figure-container
                    img.navigate__figure.navigate__figure--video(src=require('../../images/figures/figure_14.svg'))
                a.navigate__link.navigate__link--video(href="#" title="видеотека")
                    mark.navigate__highlight видеотека
                svg.navigate__circle-container(height="200" width="200")
                    circle.navigate__circle(cx="100" cy="100" r="35" stroke="black" stroke-width="1" fill-opacity="0")
            li.navigate__item
                div.navigate__figure-container
                    img.navigate__figure(src=require('../../images/figures/figure_15.svg'))
                div.navigate__line-container
                    div.navigate__line.navigate__line--translate-1
                    div.navigate__line.navigate__line--translate-2
                    div.navigate__line.navigate__line--translate-3
                    div.navigate__line.navigate__line--margin-right.navigate__line--translate-4
                    div.navigate__line.navigate__line--translate-5
                a.navigate__link.navigate__link--lib(href="#" title="библиотека")
                    mark.navigate__highlight библиотека
            li.navigate__item
                div.navigate__figure-container
                    img.navigate__figure(src=require('../../images/figures/figure_16.svg'))


