article.video-detailed.block-title-container
    h2.video-detailed__title.block-title видеотека
    h3.video-detailed__current.current
        div.current__content Режиссеры
    ul.video-detailed__list.gel-layout
        li.video-detailed__item.gel-layout__item.gel-2-10-xl
            a.card.video-detailed__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/gallery-detailed/galleryDetailed1.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Стэнли Кубрик
        li.video-detailed__item.gel-layout__item.gel-2-10-xl
            a.card.video-detailed__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/gallery-detailed/galleryDetailed2.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Дэвид Линч
        li.video-detailed__item.gel-layout__item.gel-2-10-xl
            a.card.video-detailed__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/gallery-detailed/galleryDetailed3.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Вим Вендеро
        li.video-detailed__item.gel-layout__item.gel-2-10-xl
            a.card.video-detailed__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/gallery-detailed/galleryDetailed4.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Андрей Тарковский
        li.video-detailed__item.gel-layout__item.gel-2-10-xl
            a.card.video-detailed__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/gallery-detailed/galleryDetailed5.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Ларри Кларк
        li.video-detailed__item.gel-layout__item.gel-2-10-xl
            a.card.video-detailed__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/gallery-detailed/galleryDetailed1.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Стэнли Кубрик
        li.video-detailed__item.gel-layout__item.gel-2-10-xl
            a.card.video-detailed__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/gallery-detailed/galleryDetailed2.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Дэвид Линч
        li.video-detailed__item.gel-layout__item.gel-2-10-xl
            a.card.video-detailed__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/gallery-detailed/galleryDetailed3.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Вим Вендеро
        li.video-detailed__item.gel-layout__item.gel-2-10-xl
            a.card.video-detailed__card(href="#")
                div.card__image-container
                    img.card__image(src=require('../../images/gallery-detailed/galleryDetailed4.png'))
                artilce.card__description
                    h3.card__title
                        mark.card__highlight Андрей Тарковский
